<h1>Hola Bienvenido a las Entidades</h1>
<form ng-submit="saveNewEntidad()" ng-show="mostrando" class="formulario"> 
  <div class="row"> 
    <fieldset>
      <legend>Ingrese los datos:</legend>
          <div class="col-xs-7">
            Nombre: <input type="text" class="form-control" ng-model="EntidadNueva.nombre" ></div><br>
          <div class="col-xs-7">
            Direccion:<input type="text" class="form-control" ng-model="EntidadNueva.direccion" /></div><br>
          <div class="col-xs-7">
            Logo: <input ng-model="EntidadNueva.logo" class="form-control" type="text" /></div><br>
          <div class="col-xs-7">
            Dirigente: <input class="form-control" ng-model="EntidadNueva.dirigente" type="text"/></div><br>
          <div class="col-xs-7">
            Celular: <input class="form-control" type="text" class="form-control" ng-model="EntidadNueva.celular" ></div><br>
          <div class="col-xs-7">
            Evento: <input class="form-control" ng-model="EntidadNueva.event" type="text" placeholder="Ingrese el evento"/></div><br
      </fieldset>
  </div>
    <br>
      <input type="submit" class="btn btn-success" class="" value="Crear">
      <input type="button" class="btn btn-warning" class="" value="Cancelar" ng-click="ocultarForm()">
</form>

<hr/>

<button ng-show="btCrearMostrar" ng-click="mostrarForm()" class="btn btn-primary">Crear Entidad</button>

    
<hr/> 


<div ng-show="false"  class="formulario">
  <h3>Editar  {{ EntidadActual.nombre }}:</h3>
  <form class="form form-inline" ng-submit="guardarEditarEntidad()">
    <input class="form-control" ng-model="EntidadActual.nombre" type="text" placeholder="Escriba Nombre" />
    <input class="form-control" ng-model="EntidadActual.logo" type="text" placeholder="Escriba logo" />
    <input class="form-control" ng-model="EntidadActual.direccion" type="text" placeholder="Escriba direccion" />
    <input class="form-control" ng-model="EntidadActual.dirigente" type="text" placeholder="Escriba dirigente" /> 
    <input class="form-control" ng-model="EntidadActual.celular" type="text" placeholder="Escriba el celular" />
    <input class="form-control" ng-model="EntidadActual.event" type="text" placeholder="Escriba evento" />

    <input type="submit" class="btn btn-primary" value="Guardar" />
  </form>

</div>

<table class="table table-hover">
  <thead>
	 <tr>
		  <td>Id°</td>
		  <td>Nombre</td>
      <td>direccion</td>
		  <td>Logo</td>
      <td>dirigente</td>
      <td>celular</td>
      <td>event</td>
	 </tr>
  </thead>

  <tbody>
    <tr ng-repeat="(key, entidad) in EEntidades">
  	   <td>{{ key+1}}</td>
  	   <td>{{ entidad.nombre  }}</td>
  	   <td>{{ entidad.logo  }}</td>
       <td>{{ entidad.direccion  }}</td>
       <td>{{ entidad.diregente  }}</td>
       <td>{{ entidad.celular  }}</td>
       <td>{{ entidad.event  }}</td>
  	   
  	   <td> 
  		    <a href="#" ng-click="editarEntidad(value)">Editar</a>
  		    <a href="#" ng-click="eliminarEntidad(value)">Eliminar</a>
  	   </td>
    </tr>
  </tbody>
</table>